@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #f4f4f4;
}

.home {
  text-align: center;
  padding: 50px;
}

.header-container {
  background: linear-gradient(270deg, black, #6b2900, #6b2900, black);
  background-size: 400% 400%;
  animation: gradientBackground 10s ease infinite;
  padding: 120px;
  margin: -50px;
  color: white;
}

.header-container h1 {
  font-size: 90px;
  margin-bottom: 20px;
}

.header-container .subtitle {
  font-size: 20px; /* Increase the size of this text */
  margin-bottom: 50px;
}

.social-icons {
  margin-top: 20px;
}

.content {
  margin-top: 50px;
}

.intro-headings {
  text-align: center;
  margin-bottom: 30px;
}

.about-heading {
  font-size: 16px;
  color: #ff6600; /* Orange color */
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-top: 100px;
  position: relative;
}

.about-heading::after {
  content: '';
  display: block;
  width: 60px;
  height: 2px;
  background: #ff6600; /* Orange line */
  margin: 10px auto 0;
}

.intro-heading {
  font-size: 38px;
  font-weight: 700;
  color: #333;
  margin-bottom: 40px;
}

.introduction-and-pic {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center;
}

.introduction {
  text-align: left;
  max-width: 600px;
  height: auto; /* Allow the text to adjust based on content */
  font-size: 16px;
  line-height: 1.6;
  color: black; /* Ensure the paragraph text is black */
}

.introduction p {
  margin-bottom: 15px;
}

.profile-pic {
  width: auto; /* Maintain aspect ratio */
  height: 450px;
  border-radius: 5%; /* Rounded corners */
  margin-left: 80px; /* Space between text and image */
  border: 5px solid white; /* White border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow */
  padding: 10px; /* Padding inside the border */
  background-color: #fff; /* Background color inside the border */
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
